page-intro {
    
    
}


.slide_image img{
    padding: 15%;
    
}

.intro_page {
    background-color: black;
    color: white;
}

h2.titulo {
    color: yellow;
    
}

strong {
    color: red;
    font-weight: bold;
}